{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<div class="push-center" itemscope itemtype="http://schema.org/BlogPosting">
  {{ template "_internal/schema.html" . }}
  <div id="hero">
    <h1 itemprop="headline">{{.Title}}</h1>
    {{ if .Description }}
    <blockquote itemprop="description">{{ .Description }}</blockquote>
    {{ end }}
    <time class="post-time">{{ partial "post/meta" . }}</time>
  </div>
  <div id="post-box">
    <div id="post" itemprop="articleBody">{{.Content | safeHTML}}</div>
    <div style="text-align:center;">
      <a style="color: inherit;font-size: 1.4em;" href="/neues/index.xml"><i class="fas fa-rss"></i></a>
    </div>
    <div style="text-align:center;">
      <a class="title" href="#site-head">Zurück nach oben</a><br>
      <a class="title" href="/neues/">Zurück: Neues</a>
    </div>
  </div>

  {{ end }} {{ define "footer"}} {{ partial "footer.html" .}} {{ end }}