header {
    background-color: #ecaebf;
}

#show-sm {
    margin-bottom: 0em;
}

figure {
    margin: 0;
    text-align: center;
}

figcaption {
    margin: 0.3125em;
    text-align: right;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.3125em;
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.photo>img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    aspect-ratio: 1;
    overflow: hidden;
}

ul.quellen {
    text-align: left;
    margin: 0;
    list-style-type: none;
    padding: 0 0 0.75em 0;

    .fas {
        position: relative;
        text-indent: -0.75em;
        margin: 0.33em 0.5em 0.5em 1.5em;
    }
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}