{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>Neues</h1>

  <p>Updates zum Verein und zu den Informationen. Aktuelle Bilder & Berichte <br>findet Ihr <strong>(bald)</strong> unter live.lausitzer-surfer.de.</p>
</div>
<ul id="posts">

  {{ range .Paginator.Pages.ByWeight }} {{ partial "page-summary" . }} {{ end }}
  <section>{{ partial "pagination" .}}</section>
  <div style="text-align:center;">
    <a style="color: inherit;font-size: 1.4em;" href="/neues/index.xml"><i class="fa fa-rss"></i></a>
  </div>

</ul>

{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}