<footer id="footer">
  <nav>
    <ul>
      <li>
        <strong><i class="fa fa-envelope"></i> &nbsp; <a href=" mailto:info@lausitzer-surfer.de">info@lausitzer-surfer.de</a></strong>
      </li>
      </li>
      <li>
        <strong><i class="fa fa-globe"></i> <a href="https://lausitzer-surfer.de/">lausitzer-surfer.de</a></strong>
      </li>
    </ul>
  </nav>
  <strong>
    <p>CC BY-NC-SA 4.0, <a style="text-decoration:none;color:inherit" href="https://lausitzer-surfer.de/impressum.html">Impressum</a>, <a style="text-decoration:none;color:inherit" href="https://lausitzer-surfer.de/pdf/04_Datenschutzerkl%C3%A4rung_Mitglieder.pdf">Datenschutz</a></p>
  </strong>
</footer>