<div class="show-sm" style="background-color:#b80135;">
  <div id="nav-toggle-box">
    <div id="nav-toggle-brand">
      <a href="https://lausitzer-surfer.de" title="Zurück zur Hauptseite vom Lausitzer Surfer e.V.">{{ .Site.Title }}</a> | <a href="/" title="Informationen Lausitzer Surfer e.V.">Infos</a>
    </div><a data-component="toggleme" data-target="#top" href="#" id="nav-toggle"><i class="kube-menu"></i></a>
  </div>
</div>
<div class="hide-sm" style="margin-top:-20px;" id="top" style="background-color:#b80135;">
  <div id="top-brand" style="margin-top:20px;">
    <a href="https://lausitzer-surfer.de" title="Zurück zur Hauptseite vom Lausitzer Surfer e.V.">{{ .Site.Title }}</a> | <a href="/" title="Informationen: Lausitzer Surfer e.V.">Infos</a>
  </div>
  <nav id="top-nav-main" style="margin-top:20px;">
    <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      <li><a href=" {{ .URL }}" title="{{ .Name }} vom Lausitzer Surfer e.V." {{if $currentPage.IsMenuCurrent "main" . }} class="active" {{end}}>{{ .Name }}</a></li>
      {{end}}
    </ul>
  </nav>
  <nav id="top-nav-extra" style="margin-top:20px;">
    <ul>
      {{ range .Site.Menus.extra }}
      <li>
        <a href="{{ .Permalink }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>