{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <img src="https://lausitzer-surfer.de/images/logo.png" width="200px"></img>
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-clipboard-list fa-4x"></i>
        </figure>
        <h3><a href="infos/uebersicht/">Verein & Ziele</a></h3>
        <p>Übersicht zum Verein.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-wind fa-4x"></i>
        </figure>
        <h3><a href="spots/">Spots</a></h3>
        <p>Surf-Spots in der Lausitz.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <i class="fa fa-map fa-4x"></i>
        </figure>
        <h3><a href="karte/">Karte</a></h3>
        <p>Karte mit Surfspots und Informationen.</p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-4 item">
        <h4>Mitglieder</h4>
        <p>Informationen für Mitglieder.</p>
      </div>
      <div class="col col-4 item">
        <h4><a href="infos/vereinsorga/">Vereinsorga</a></h4>
        <p>Informationen zur Selbstorganisation von Mitgliedern, Vorstand und Verein.</p>
      </div>
      <div class="col col-4 item">
        <h4><a href="infos/todo/">ToDo</a></h4>
        <p>Es gibt immer Sachen zu tun. Hier findest Du eine Übersicht.</p>
      </div>
    </div>

  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}