{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}

{{ define "main" }}

<div id="hero" class="wrap">
  <h1>{{.Title }}</h1>

  <link rel='stylesheet' href='/karte/maplibre-gl.css' />
  <script src='/karte/maplibre-gl.js'></script>
  <div id="map" style="height:300px"></div>
  <script>
    const map = new maplibregl.Map({
      container: 'map', // container id
      style: '../geodaten/style.json', // style URL
      center: ["{{.Params.map.center_lng }}", "{{ .Params.map.center_lat }}"], // starting position [lng, lat]
      zoom: "{{ .Params.map.zoom }}", // starting zoom
      attributionControl: false,
      maplibreLogo: false,
      interactive: false,
    });
    map.once("load", () => {
      map.addSource("spots", {
        type: "geojson",
        data: "/karte/spots.geojson?version=1",

      });

      map.addLayer({
        id: "spot-circle",
        type: "circle",
        source: "spots",

        paint: {
          "circle-color": {
            "property": "typ",
            "type": "categorical",
            "stops": [["sup", "grey"]],
            "default": "#ff3366"
          },
          "circle-stroke-width": 1.5,
          "circle-stroke-color": "white",

        }
      });
      map.on('click', 'spot-circle', (e) => {
        const f = e.features[0];
        const coordinates = f.geometry.coordinates.slice();
        const name = f.properties.name;
        const typ = f.properties.typ;
        const url = f.properties.url;

        // Ensure that if the map is zoomed out such that multiple
        // copies of the feature are visible, the popup appears
        // over the copy being pointed to.
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
        }

        if (url == null) {
          html_url = "<strong>" + name + "</strong> "
        } else {
          html_url = "<a href='" + url + "' target='_blank' ><strong>" + name + "</strong></a>"
        }

        new maplibregl.Popup()
          .setLngLat(coordinates)
          .setHTML(html_url + "<br>Typ: " + typ.charAt(0).toUpperCase() + typ.slice(1))
          .addTo(map);
      });

      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on('mouseenter', 'spot-circle', () => {
        map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', 'spot-circle', () => {
        map.getCanvas().style.cursor = '';
      });
    });
  </script>
  <p>{{.Params.description}}</p>
</div>
<ul id="posts">

  {{ .Content }}

</ul>
{{ end }}
{{ define "footer" }}
{{ partial "footer" . }}
{{ end }}