{{ define "title"}} {{ .Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}
<meta name='viewport' content="width=device-width, initial-scale=1">
<link rel='stylesheet' href='/karte/maplibre-gl.css' />
<script src='/karte/maplibre-gl.js'></script>
<script type="text/javascript" src="map_prepare.js"></script>
<link href="default.css" rel="stylesheet" type="text/css">
<style>
  body {
    overflow: hidden;

  }
</style>
<div class='map' id='map'></div>
<div class='map-overlay' id='features'>
  <h2>Surfspots in der Lausitz</h2>
  <div id='pd'>
    <p>Bewege die Maus über eine Wasserfläche!</p>
  </div>
</div>
<div class='map-overlay' id='legend'></div>
<script>

  const map = new maplibregl.Map({
    container: 'map',
    style: 'style.json',
    center: [lng_start, lat_start],
    zoom: zoom_start,
    attributionControl: false
  });

  // pulsing marker dot
  // https://maplibre.org/maplibre-gl-js/docs/examples/add-image-animated/
  const size = 100;

  // implementation of StyleImageInterface to draw a pulsing dot icon on the map
  // Search for StyleImageInterface in https://maplibre.org/maplibre-gl-js/docs/API/
  const pulsingDot = {
    width: size,
    height: size,
    data: new Uint8Array(size * size * 4),

    // get rendering context for the map canvas when layer is added to the map
    onAdd() {
      const canvas = document.createElement('canvas');
      canvas.width = this.width;
      canvas.height = this.height;
      this.context = canvas.getContext('2d', { willReadFrequently: true });
    },

    // called once before every frame where the icon will be used
    render() {
      const duration = 1000;
      const t = (performance.now() % duration) / duration;

      const radius = (size / 2) * 0.3;
      const outerRadius = (size / 2) * 0.7 * t + radius;
      const context = this.context;

      // draw outer circle
      context.clearRect(0, 0, this.width, this.height);
      context.beginPath();
      context.arc(
        this.width / 2,
        this.height / 2,
        outerRadius,
        0,
        Math.PI * 2
      );
      context.fillStyle = `rgba(255, 51, 102,${1 - t})`;
      context.fill();

      // draw inner circle
      context.beginPath();
      context.arc(
        this.width / 2,
        this.height / 2,
        radius,
        0,
        Math.PI * 2
      );
      context.fillStyle = 'rgba(255, 51, 102, 1)';
      context.strokeStyle = 'white';
      context.lineWidth = 2 + 4 * (1 - t);
      context.fill();
      context.stroke();

      // update this image's data with data from the canvas
      this.data = context.getImageData(
        0,
        0,
        this.width,
        this.height
      ).data;

      // continuously repaint the map, resulting in the smooth animation of the dot
      map.triggerRepaint();

      // return `true` to let the map know that the image was updated
      return true;
    }
  };

  map.addControl(new maplibregl.FullscreenControl());
  map.addControl(new maplibregl.NavigationControl());


  if (!(document.referrer.indexOf(location.protocol + "//" + location.host) === 0) || !(location.host.includes("localhost"))) {
    // only show intro popup on first visit
    var popup = new maplibregl.Popup({
      closeOnClick: false,
      className: 'popups'
    })
      .setLngLat([lng_start, lat_start - 0.05])
      .setHTML('<br>'
        + 'Auf dieser Karte könnt Ihr alle Seen in der Lausitz finden. Nicht alle sind "surfbar".<br> '
        + 'Einige Seen sind nach der Bergbau-ordnung für die Öffentlichkeit gesperrt. Nur auf wenigen Seen ist Kitesurfen gestattet. '
        + 'Wir tragen diese Informationen zusammen und stellen sie hier dar. Gern könnt <a href="/infos/vereinsorga/#h-aendern">ihr uns dabei helfen</a>. '
        + 'Geht bitte derzeit noch nicht von Vollständigkeit aus!<br><br>'
        + '<strong>Hang Loose :) <br>Eurer Lausitzer Surfer e.V.<strong>'
      )
      .addTo(map);
  }

  // stub for layer switch/selection
  // var layerList = document.getElementById('menu');
  // var inputs = layerList.getElementsByTagName('input');
  // function switchLayer(layer) {
  // var layerId = layer.target.id;
  //     map.setStyle('mapbox://styles/' + layerId);
  // }
  //
  // for (var i = 0; i < inputs.length; i++) {
  //     inputs[i].onclick = switchLayer;
  // }

  map.on('load', function () {
    // allow polygons to be added below labels from the basemap
    // Find the index of the first symbol layer in the map style.
    const basemaplayers = map.getStyle().layers;
    let firstSymbolId;
    for (const layer of basemaplayers) {
      if (layer.type === 'symbol') {
        firstSymbolId = layer.id;
        break;
      }
    }

    map.addImage('pulsing-dot', pulsingDot, { pixelRatio: 2 });

    map.addSource("osm_surfbar", {
      "type": 'geojson',
      "data": url
    });

    // variable colors for different lake sizes
    var layers = ['0-10', '10-20', '20-50', '50-100', '100-200', '200-500', '500-1000'];
    var colors = ['#ffe6ed', '#ffb3c8', '#fe80a4', '#fe4d80', '#fe1b5b', '#e40142', '#b20133'];

    // debugging
    // map.showCollisionBoxes=true;

    // nicht surfbar / Keine Informationen
    map.addLayer({
      "id": "nicht_surfbar_layer",
      "type": "fill",
      "source": "osm_surfbar",
      "filter": ["!=", "surfbar", "true"],
      "layout": {},
      "paint": {
        "fill-color": {
          property: 'area',
          stops: [[1, colors[1]], [10, colors[2]], [20, colors[3]], [50, colors[4]], [100, colors[4]], [200, colors[5]], [500, colors[6]],]
        },
        "fill-opacity": 0.8
      },
    }, firstSymbolId);

    // surfbar
    map.addLayer({
      "id": "surfbar_layer",
      "type": "fill",
      "source": "osm_surfbar",
      "filter": ["==", "surfbar", "true"],
      "layout": {},
      "paint": {
        "fill-color": "#1eabf2",
        "fill-opacity": 0.8
      },
    }, firstSymbolId);


    function get_surfbar(surfbar) {
      if (surfbar == "true") {
        return "Ja!"
      } else if (surfbar == "false") {
        return "Derzeit verboten."
      } else {
        return "Fehlende Informationen"
      }
    }
    function get_surfbar_link(surfbar) {
      if (surfbar == "true") {
        return "Ja!"
      } else if (surfbar == "false") {
        return "Derzeit verboten."
      } else {
        return "Fehlende Informationen"
      }
    }
    const base_layers = ['nicht_surfbar_layer', 'surfbar_layer'];

    for (let i = 0; i < base_layers.length; i++) {
      // When a click event occurs on a feature in the places layer, open a popup at the
      // location of the feature, with description HTML from its properties.
      map.on('click', base_layers[i], function (e) {
        // beschreibung text only if not empty
        let beschreibung_html = "<br />";
        if (e.features[0].properties.beschreibung != undefined) {
          beschreibung_html = "<br />" + e.features[0].properties.beschreibung + "<br /><br />";
        }
        // zoom = map.getZoom();
        new maplibregl.Popup()
          .setLngLat(e.lngLat)
          .setHTML('<font size="+0.3">Name: ' + e.features[0].properties.name + "<br />" +
            "Surfbar: " + get_surfbar(e.features[0].properties.surfbar) + "<br />" +
            "Fläche (ha): " + e.features[0].properties.area +
            beschreibung_html +
            //'<a href="/karte/?surfspot=main&lat=' + e.lngLat.lat + '&lng=' + e.lngLat.lng + '&zoom=' + zoom + '">Link zu dieser Wasserfläche</a>' + "<br />" +
            getSurfbarLink(e.features[0].properties.name, e.features[0].properties.surfbar, e.features[0].properties.mapped) + "</font>"
          )
          .addTo(map);
      });
      // Change the cursor to a pointer when the mouse is over the places layer.
      map.on('mouseenter', base_layers[i], function () {
        map.getCanvas().style.cursor = 'pointer';
      });

      // Change it back to a pointer when it leaves.
      map.on('mouseleave', base_layers[i], function () {
        map.getCanvas().style.cursor = '';
      });
    }

    map.on('mousemove', function (e) {
      var waterarea = map.queryRenderedFeatures(e.point, {
        layers: base_layers
      });

      if (waterarea.length > 0) {
        document.getElementById('pd').innerHTML = '<h3><strong> ' + waterarea[0].properties.name + '</strong></h3><p><strong><em>' + waterarea[0].properties.area + '</strong> ha Wasserfläche</em></p>';
      } else {
        document.getElementById('pd').innerHTML = '<p>Bewege die Maus über eine Wasserfläche!</p>';
      }
    });

    //map.flyTo({
    //    center: [
    //        8,
    //        49.2]
    //});
    //}

    // Spots layer and interaction
    map.addSource("spots", {
      type: "geojson",
      data: "/karte/spots.geojson?version=1",

    });

    // add pulsing schule, verein
    map.addLayer({
      "id": "spot-circle",
      "type": "symbol",
      "source": "spots",
      "filter": ["any",
        ["!=", "typ", "sup launch"],],
      "layout": {
        "icon-image": "pulsing-dot",
        "symbol-z-order": "source",
        //'symbol-sort-key': ['get', 'index'],
        'text-field': ['get', 'name'],
        'text-font': [
          'Open Sans Bold',
          'Arial Unicode MS Bold'
        ],
        'text-size': 20,
        'text-allow-overlap': false,
      },
      'paint': {
        'text-color': '#202',
        'text-halo-color': '#fff',
        'text-translate': [0, 20],
        'text-halo-width': 2,
        'text-opacity': [
          'interpolate', ['linear'], ['zoom'],
          10, 0,
          11, 1
        ]
      },
    });

  });

</script>

<footer id="footer"
  style="border-top:0px;width: 100%;height: 50px !important;position: absolute;margin-bottom:5px;bottom: 0px;display:flex;">
  <nav>
    <ul>
      <li>
        <strong><i class="fa fa-envelope"></i> &nbsp; <a
            href="mailto:info@lausitzer-surfer.de">info@lausitzer-surfer.de</a></strong>
      </li>
      </li>
      <li>
        <strong><i class="fa fa-globe"></i> <a href="https://lausitzer-surfer.de/">lausitzer-surfer.de</a></strong>
      </li>
    </ul>
  </nav>
  <strong>
    <p><a style="text-decoration:none;color:inherit" href="https://lausitzer-surfer.de/impressum.html">Impressum</a></p>
  </strong>
</footer>


{{ end }}